.hidden {
    display: none;
    visibility: hidden;
}

.shelf {
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.top {
    font-weight: 700;
    margin: 3rem 0;
}